<fet-movie-search></fet-movie-search>
<mat-tab-group  class="genre-tabs">
  <mat-tab label="{{genre}}" *ngFor="let genre of genres">
    <div class="row">
      <div *ngFor="let movie of getMoviesByGenre(genre)" (click)="gotoDetail(movie)" class="col-md-4 col-sm-12 movie-card-container">
        <mat-card class="movie-card">
          <mat-card-header>
            <div mat-card-avatar class="movie-card-header-image"></div>
            <mat-card-title>{{movie.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src='/assets/images/movie-covers/{{movie.img}}' class="movie-card-image" alt="{{movie.name}}">
        </mat-card>

      </div>
    </div>
  </mat-tab>
</mat-tab-group>
