<div *ngIf="movie" class="row">
  <div class="col-md-3 col-sm-12">
    <img src='/assets/images/movie-covers/{{movie.img}}' class="movie-detail-image" alt="{{movie.name}}">
  </div>
  <div class="col-md-9 col-sm-12">
    <h2>{{movie.name}}</h2>
    <div class="movie-genres">{{movie.genres}}</div>
    <div>
      <label for="movie-id">ID:</label>
      <input name="movie-id" value="{{movie.id}}" class="movie-input">
    </div>
    <div>
      <label for="movie-name">Name: </label>
      <input name="movie-name" value="{{movie.name}}" class="movie-input">
    </div>
    <div>
      <label for="movie-rate">Rate: </label>
      <input name="movie-rate" value="{{movie.rate}}" class="movie-input">
    </div>
    <div>
      <label for="movie-length">Length: </label>
      <input name="movie-length" value={{movie.length}} class="movie-input">
    </div>
    <div>
      <p>{{movie.description}}</p>
    </div>
    <button (click)="goBack()">Back</button>
  </div>
</div>
