.movie-detail-image {
  width: 250px;
  height: auto;
}

.movie-input {
  margin-left: 15px;
}

.movie-genres {
  font-style: italic;
  font-weight: bold;
  padding-bottom: 15px;
  color: #000;
}

label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  color: rgb(0,120,215);
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
