.movie-card-container { 
padding: 15px 0;
}

.movie-card {
  padding-bottom: 0px !important;
}

.movie-card-header-image {
  background-image: url('/assets/images/icons/movie.png');
  background-size: cover;
}

.movie-card-image {
  height: 300px;
  padding: 15px;
} 
